trigger: none
pool: maheshagent
parameters:
  - name: enviroment
    displayName: Enviroment
    type: string
    default: dev
    values:
      - dev
      - prod
variables:
- name: serviceconnection
  value: maheshsvc
- name: storage
  value: maheshstg07
- name: workingdir
  value: $(System.DefaultWorkingDirectory)/enviroment/dev

stages:
  - stage: precomit
    displayName: Precomit
    jobs:
      - job: terraforminit
        displayName: Terraform init
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(workingdir)'
            backendServiceArm: '$(serviceconnection)'
            backendAzureRmStorageAccountName: '$(storage)'
            backendAzureRmContainerName: 'maheshcont'
            backendAzureRmKey: 'terraform.tfstate'
        - task: PowerShell@2
          displayName: Infracost
          inputs:
           targetType: 'inline'
           script: |
             Invoke-WebRequest https://github.com/infracost/infracost/releases/latest/download/infracost-windows-amd64.tar.gz -OutFile infracost.tar.gz
              tar -xvf infracost.tar.gz
             .\infracost.exe --version
             .\infracost.exe auth login
             .\infracost.exe breakdown --path '$(workingdir)' --format=html > cost.html
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(workingdir)'
            ArtifactName: 'maheshinfracost'
            publishLocation: 'Container'

      - job: terrafromplan 
        steps:
        - template: templates/terraform.init.yml
        - template: templates/terraform.plan.yml
         
          